*{
	margin:  0;
	padding: 0;
}

/* NAVBAR */
.navbar{
	margin-bottom: 0;
}
.navbar-brand{
	padding-left:;
	padding-top:;
}
.navbar-right{
	padding-right:;
}
li{
	padding-top:;
	padding-bottom:; 
}
/* IMAGEN HEADER */
#headerImage{
	background-image: url(../images/taxi.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-position: bottom;
	height: 600px;
}
/* Primera sección*/
.first{
	background-color: #F3C600;
}
/* Segunda sección*/
.second{
	background-image: url(../images/conduce.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-position: bottom;
	height: 600px;	
}
.third{
	background-color: #F3C600;
}
/* FOOTER */
footer{
	background-color: #2F2F2F;
	padding-right: 8em;
	padding-left: 8em;
}
.logoFooter{
	border-bottom: 0.1em solid #FFF;
	padding-bottom: 1em;
	padding-top: 4em;
}
.listas{
	padding-top: 1em;
	padding-bottom: 1em;
}
.lista{
	color: #FFF;
}
.iconos{
	color: #FFF;
	padding-top: 12em;
}
.logoWeb1{
	padding-top: 2em;
}
.logoWeb2{
	padding-top: 1em;
}
.copyright{
	color: #FFF;
	border-top: 0.1em solid #FFF;
	padding-top: 1em;
	padding-bottom: 4em;
}

